:root {
  --test: {
    font-weight: 700;
    font-color: red;
  };
  /* gap */
  --gap-xxs: 4px;
  --gap-xs: 8px;
  --gap-sm: 16px;
  --gap-md: 20px;
  --gap-lg: 40px;
  --gap-xl: 60px;

  /* font-size */
  /* 10 ~ 12 +1 */
  /* 12 ~ 18 +2 */
  /* 18 ~ 24 +3 */
  /* 24 ~ 72 +12 */
  /* ex) 제목 --tit-lg + 본문 --txt-md */
  /* 표 14px 제목은 #000000 본문은 #616161 */
  /* 목록 14px 제목은 #000000 본문은 #616161 */
  --tit-2xs: 12px;
  --tit-xs: 14px;
  --tit-sm: 16px;
  --tit-md: 18px;
  --tit-lg: 21px;
  --tit-xl: 24px;
  --tit-2xl: 36px;
  --tit-3xl: 48px;
  --tit-4xl: 60px;
  --tit-5xl: 72px;

  --txt-2xs: 10px;
  --txt-xs: 12px;
  --txt-sm: 14px;
  --txt-md: 16px;
  --txt-lg: 18px;
  --txt-xl: 20px;
  --txt-2xl: 22px;
  --txt-3xl: 24px;
  --txt-4xl: 26px;
  --txt-5xl: 28px;

  /* font-weight */
  /* 나눔고딕 300 400 700 800 */
  /* 나눔스퀘어 300 400 700 800 */
  /* 노토산스 300 400 500 700 */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extra-bold: 300;

  /* line-height */
  /* 최소 1.5 ~ 기본값 1.75(권장) 글자크기*line-height = 행간 */
  --line-height: 1.75;

  /* color */
  --color-primary: #3d5afe;
  --color-primary-darken-1: #536dfe;
  --color-primary-lighten-1: #304ffe;
  /* --color-primary-darken-4: #1a237e;
  --color-primary-darken-3: #283593;
  --color-primary-darken-2: #303f9f;
  --color-primary-darken-1: #3949ab;
  --color-primary-lighten-1: #5c6bc0;
  --color-primary-lighten-2: #7986bc;
  --color-primary-lighten-3: #9fa8da;
  --color-primary-lighten-4: #c5cae9; */

  --color-secondary: #ff6e40;
  --color-secondary-darken-1: #ff3d00;
  --color-secondary-lighten-1: #ff9e80;

  /* color - grey scale */
  --color-white: #ffffff;
  --color-grey-100: #f5f5f5;
  --color-grey-200: #eeeeee;
  --color-grey-300: #e0e0e0;
  --color-grey-400: #bdbdbd;
  --color-grey-500: #9e9e9e;
  --color-grey-600: #757575;
  --color-grey-700: #616161;
  --color-grey-800: #424242;
  --color-grey-900: #212121;
  --color-black: #000000;

  /* color - system color */
  --color-red: #d32f2f;
  --color-yellow: #f9a825;
  --color-green: #4caf50;
  --color-blue: #0091ae;

  /* icon */
  /* icon gap min 8px */
  --icon-size-min: 44px;
  --icon-size-default: 48px;

  --icon-18: 18px; /* live 16 icon padding 1px size padding 15px */
  --icon-24: 24px; /* live 20 icon padding 2px size padding 12px */
  --icon-36: 36px; /* live 30 icon padding 3px size padding 6px */
  --icon-48: 48px; /* live 40 icon padding 4px size padding 0px */
}

/* component core */
/* size (xs, sm, md, lg, xl)*/
.size-xxxs {
  height: 24px;
  padding: 0 4px;
}
.size-xxs {
  height: 28px;
  padding: 0 8px;
}
.size-xs {
  height: 32px;
  padding: 0 8px;
}
.size-sm {
  height: 36px;
  padding: 0 12px;
}
.size-md {
  height: 40px;
  padding: 0 16px;
}
.size-lg {
  height: 44px;
  padding: 0 20px;
}
.size-xl {
  height: 48px;
  padding: 0 24px;
}
.size-xxl {
  height: 52px;
  padding: 0 28px;
}
.size-xxxl {
  height: 56px;
  padding: 0 32px;
}
.size-block {
  width: 100%;
}

/* style */
/* background */
.bg-fill {
  background-color: #fff;
}
.bg-border-solid {
  border: 1px solid #000;
}
.bg-border-dashed {
  border: 1px dashed #000
}
/* radius */
.radius-square {
  border-radius: 0;
}
.radius-xs {
  border-radius: 2px;
}
.radius-sm {
  border-radius: 4px;
}
.radius-md {
  border-radius: 6px;
}
.radius-lg {
  border-radius: 8px;
}
.radius-xl {
  border-radius: 10px;
}
.radius-round {
  border-radius: 16px;
}
/* shadow */
.shadow-sm {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}
.shadow-md {
  box-shadow: 0 4px 8px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .08);
}
.shadow-lg {
  box-shadow: 0 15px 30px rgba(0, 0, 0, .11), 0 5px 15px rgba(0, 0, 0, .08);
}
/* icon */
.icon-min {
  width: var(--icon-size-min);
}
.icon {
  width: var(--icon-size-default);
}

/* component container */
/* icon left, both sides, icon right */
/* ex) search - icon right, combo box - icon right, spiner - both sides */

/* UI Component */
/* + size */
.component-xxxs {
  height: 24px;
  font-size: var(--txt-2xs);
  padding: 0 4px;
}
.component-xxs {
  height: 28px;
  font-size: var(--txt-xs);
  padding: 0 8px;
}
.component-xs {
  height: 32px;
  font-size: var(--txt-xs);
  padding: 0 8px;
}
.component-sm {
  height: 36px;
  font-size: var(--txt-xs);
  padding: 0 12px;
}
.component-md {
  height: 40px;
  font-size: var(--txt-xs);
  padding: 0 16px;
}
.component-lg {
  height: 44px;
  font-size: var(--txt-sm);
  padding: 0 20px;
}
.component-xl {
  height: 48px;
  font-size: var(--txt-sm);
  padding: 0 24px;
}
.component-xxl {
  height: 52px;
  font-size: var(--txt-sm);
  padding: 0 28px;
}
.component-xxxl {
  height: 56px;
  font-size: var(--txt-md);
  padding: 0 32px;
}
.component-block {
  width: 100%;
  height: 64px;
  font-size: var(--txt-md);
  padding: 0 32px;
}


/* input system */
.default {
  color: var(--color-grey-700);
  border-color: var(--color-grey-400);
}
:disabled {
  color: var(--color-grey-500);
  background-color: var(--color-grey-100);
}
:focus {
  color: var(--color-grey-700);
  border-color: var(--color-grey-400);
  /* box-shadow: sm */
}
::placeholder {
  color: var(--color-grey-500);
  border-color: var(--color-grey-400);
}
.warning {
  color: var(--color-grey-700);
  border-color: var(--color-yellow);
}
.error {
  color: var(--color-grey-700);
  border-color: var(--color-red);
}
.success {
  color: var(--color-grey-700);
  border-color: var(--color-green);
}
.information {
  color: var(--color-grey-700);
  border-color: var(--color-blue);
}

/* help text */
.help-text-sm {
  font-size: var(--txt-xs);
  margin-top: var(--gap-xs);
}
.help-text-md {
  font-size: var(--txt-xs);
  margin-top: 14px;;
}
.help-text-lg {
  font-size: var(--txt-xs);
  margin-top: var(--gap-sm);
}

/* button */
/* high emphasis - 면으로 이루어진 버튼 */
/* medium emphasis - 선으로 이루어진 버튼 */
/* low emphasis - 텍스트 */

/*************************************************************************/
