@use 'sass:map';

// button
button {
  appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0;
  background-color: transparent
}
.btn-wrap {
  display: flex;
  align-items: center;
  gap: map.get($gap, xs);
}

.btn {
  flex: 1 0 fit-content;
  @include component(xs) {
    border-radius: map.get($style-br, lg)
  };
  &.fill {
    &.primary {
      background-color: map.get($color, primary);
      color: map.get($color, white);
      &:hover {
        background-color: lighten(map.get($color, primary), 10%);
        box-shadow: unquote(map.get($style-shadow, md));
      }
    }
    &.secondary {
      background-color: map.get($color, secondary);
      color: map.get($color, black);
      &:hover {
        background-color: lighten(map.get($color, secondary), 10%);
      }
    }
  }
  &.solid {
    border: map.get($style-bg, border-solid);
    &.primary {
      border-color: map.get($color, primary);
      color: map.get($color, primary);
      &:hover {
        border-color: lighten(map.get($color, primary), 10%);
      }
    }
    &.secondary {
      border-color: map.get($color, secondary);
      color: map.get($color, secondary);
      &:hover {
        border-color: lighten(map.get($color, secondary), 10%);
      }
    }
  }
}