@use 'sass:map';

/* grid */
.grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 14px;
}

.grid__row {
  display: flex;
  border-bottom: 1px solid map.get($color, black);
  text-align: center;
  transition: all .1s;
  & .--header {
    background-color: map.get($color, grey-100);
    font-weight: map.get($font-weight, bold)
  }
  &:hover {
    background-color: map.get($color, grey-200);
  }
  &:active {
    background-color: map.get($color, grey-300);
  }
}

.grid__data {
  flex: 1 0 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: .5rem;
}