/* grid */
.grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 14px;
}

.grid__row {
  display: flex;
  border-bottom: 1px solid #000;
  text-align: center;
}

.grid__row .--header {
  background-color: #eee;
  text-align: center;
}

.grid__row:hover {
  background-color: #ddd;
}

.grid__row:active {
  background-color: red;
}

.grid__data {
  flex: 1 0 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: .5rem;
}