@use 'sass:map';

// header
#header {
  display: flex;
  align-items: center;
  height: map.get($size-height, xxxl);
  box-sizing: border-box;
  padding: map.get($gap, sm);
  background-color: map.get($color, primary);
  font-weight: map.get($font-weight, bold); 
  color: map.get($color, white); 
}